@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

.title {
  text-align: center;
}

.title > h3 {
  margin: 0;
}

.filipeta {
  display: flex;
  font-family: 'Saira Extra Condensed', sans-serif;
  align-items: center;
  padding: 0px 0px;
  height: 500px;
  background-color: white;
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
  flex-direction: column;
}

.filipetaImg {
  width: 400px;
}

.filipetaDirection {
  margin: 2px 0px -8px;
  font-size: 22px;
}

.filipetaElenco {
  font-size: 14px;
  margin: 0px 0px 16px;
}

.filipeta > div {
  display: flex;
  font-family: 'Saira Extra Condensed', sans-serif;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}

.elencoDiv {
  display: flex;
  padding: 16px 16px 48px;
  justify-content: center;
  flex-direction: column;
}

.quemSomos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aOficina, .oGrupo {
  padding: 4px 0px 48px;
  font-size: 16px;
  width: 700px;
  text-align: center;
}

.artistas {
  text-align: center;
  font-size: 18px;
}

.direcao {
  text-align: center;
}

.textAlign {
  text-align: center;
}

.h2 {
  margin-bottom: 16px;
  text-align: center;
}

.figurinoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.figurino1 > img, .figurino2 > img, .figurino3 > img, .figurino4 > img  {
  width: 500px;
  padding: 16px 16px;
}

.figurino5 > img, .figurino6 > img, .figurino7 > img, .figurino8 > img  {
  width: 500px;
  padding: 16px 16px;
}

@media screen and (max-width: 768px) {
  .elencoDiv {
    flex-direction: column;
  }

  .aOficina, .oGrupo {
    font-size: 16px;
    width: 350px;
  }

  .filipeta {
    display: flex;
    font-family: 'Saira Extra Condensed', sans-serif;
    align-items: center;
    padding: 0px 0px;
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    flex-direction: column;
  }
  
  .filipetaImg {
    width: 300px;
  }
  
  .filipetaDirection {
    margin: 2px 0px -8px;
    font-size: 18px;
  }
  
  .filipetaElenco {
    font-size: 12px;
    margin: 0px 0px 16px;
  }
  
  .filipeta > div {
    display: flex;
    font-family: 'Saira Extra Condensed', sans-serif;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
  }

  .figurinoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .figurino1 > img, .figurino2 > img, .figurino3 > img, .figurino4 > img  {
    width: 300px;
    padding: 16px 16px;
  }

  .figurino5 > img, .figurino6 > img, .figurino7 > img, .figurino8 > img  {
    width: 300px;
    padding: 16px 16px;
  }
}