.title {
  text-align: center;
}

.title > h3 {
  margin: 0;
}

.elencoDiv {
  display: flex;
  padding: 16px 16px 48px;
  justify-content: center;
  flex-direction: column;
}

.quemSomos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aOficina, .oGrupo {
  font-size: 16px;
  width: 700px;
  text-align: center;
}

.artistas {
  text-align: center;
  font-size: 18px;
}

.direcao {
  text-align: center;
}

.textAlign {
  text-align: center;
}

.h2 {
  margin-bottom: 16px;
  text-align: center;
}

.figurinoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todos, .trupe, .vila {
  width: 500px;
  padding: 16px 16px;
}

@media screen and (max-width: 768px) {
  .elencoDiv {
    flex-direction: column;
  }

  .aOficina, .oGrupo {
    font-size: 16px;
    width: 350px;
  }

  .figurino1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .todos, .trupe, .vila {
    width: 300px;
    padding: 16px 16px;
  }
}