.footer {
  display: flex;
  padding: 4px 16px;
  align-items: center;
  justify-content: space-between;
  background-color: #343638;
  color: white;
  font-size: 12px;
}

.oficina {
  margin: 4px;
  padding: 8px 36px;
  border-radius: 4px;
  background-color: blue;
  line-height: 1;
  text-decoration: none;
  color: white;
}


.oficina:hover, {
  background-color: white;
  color: #343638;
  text-decoration: none;
}

.dellacosta {
  padding: 8px 0px;
  text-decoration: none;
  border-radius: 4px;
}

.dellacosta:hover {
  background-color: white;
  color: #343638;
}

.schedule {
  display: flex;
  flex-direction: column;
}

.schedule > span {
  padding: 4px 0px;
}

.createdBy {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }

  .oficina {
    text-align: center;
    padding: 8px 16px;
  }
}